[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg = {extras = ["binary"], version = "*"}
"py-cord" = {editable = true, ref = "b872cfea1f23673b97bd6027ebde5c2e4472afea", git = "https://github.com/Pycord-Development/pycord"}

[dev-packages]

[requires]
python_version = "3.9"
